
.btn {
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn--primary {
    background-color: #00A859; 
}

.btn--secondary {
    background-color: #999;
}

.btn--small {
    font-size: 14px;
}

.btn--medium {
    font-size: 16px;
}
